#   Здесь определяются конфигурационные файлы
#   вашего Ableton характерные для вашей системы и,
#   которые точно никому кроме вас не нужны.

#   А также вы можете сами добавить файлы для игнорирования во избежания попадания их в глобальный коммит(git commit - не знаете что это, просто загуглите)

Desktop.ini
/Ableton Project Info/
.dll